<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeneralBiztalkHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GeneralBiztalkHelper.Properties.Settings>
            <setting name="GeneralBiztalkHelper_riziv_inami_fgov_be_logging_WebService_BizTalk_DashBoard"
                serializeAs="String">
                <value>http://biztalk-val/Riziv.Applications.BizTalk.Logging_Proxy/WebService_Riziv_Applications_BizTalk_Logging.asmx</value>
            </setting>
        </GeneralBiztalkHelper.Properties.Settings>
    </applicationSettings>
</configuration>